<html>
	<head>
		
	</head>
	<body>
		<h1>
			welcome
		</h1>
		<form action="/posturl" method="post">
			<h2>
				plz give me your personal info. not a scam i promis
			</h2>
			<input name="ssn" type="text" placeholder="social security number"><br>
			<input name="mname" type="text" placeholder="mommys maiden name">
			<button>
				submit
			</button>
		</form>
	</body>
</html>