<html>
	<head>
		<title>
			Flush App
		</title>
	<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</head>
	<body>
		<div class="container">
			
			<a href="/toilets">
				<button type="button" class="btn btn-primary">See Toilets</button>
			</a>
			<a href="/">
				<button type="button" class="btn btn-primary">Home</button>
			</a>
			<a href="/toilets/new">
				<button type="button" class="btn btn-primary">New Toilet</button>
			</a>
			<div class="jumbotron">
				<h3>
					HEWOOOOO, rawr XDXD hehe
				</h3><br>
				<h1>
					this is my webswite
				</h1><br>
				<h3>
					UWU
				</h3>
			</div>
			
		